mat-card {
  background-color: #bcd8c1;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardUser {
  height: 78%;
  display: flex;
  flex-direction: column;
}

.cardUser mat-card-header {
  flex-shrink: 0;
}

.cardUser mat-card-content {
  flex-grow: 1;
}

.cardUser mat-card-actions {
  display: flex;
  justify-content: end;
  align-self: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted #bcd8c1;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.equipoImg {
  height: 100px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-self: center;
}
