<div
  class="m-0 vh-100 row justify-content-center align-items-center"
  *ngIf="!aux; else info"
>
  <span class="loader col-auto text-center p-5"></span>
</div>

<ng-template #info>
  <h2 class="text-center mt-2">
    {{ title }} {{ user?.role_id === 1 ? "Manager" : "Entrenador" }}
  </h2>
  <form [formGroup]="miFormulario" (submit)="guardar()">
    <span class="row ms-5 me-5 mt-5 p-float-label">
      <input
        formControlName="nombre_user"
        class="p-inputtext-lg"
        type="text"
        pInputText
      />
      <label for="float-input">Nombre</label>
    </span>
    <small class="text-danger ms-5" *ngIf="error('nombre_user')"
      >{{ nombreUserMsg }}
    </small>

    <span class="row ms-5 me-5 mt-5 p-float-label">
      <input
        formControlName="apellidos"
        class="p-inputtext-lg"
        type="text"
        pInputText
      />
      <label for="float-input">Apellidos</label>
    </span>
    <small class="text-danger ms-5" *ngIf="error('apellidos')"
      >{{ apellidosMsg }}
    </small>

    <span class="row ms-5 me-5 mt-5 p-float-label">
      <input
        formControlName="email"
        class="p-inputtext-lg"
        type="email"
        pInputText
      />
      <label for="float-input">Email</label>
    </span>
    <small class="text-danger ms-5" *ngIf="error('email')"
      >{{ emailMsg }}
    </small>

    <span class="row ms-5 me-5 mt-5 p-float-label">
      <input
        formControlName="salario"
        class="p-inputtext-lg"
        type="number"
        pInputText
      />
      <label for="float-input">Salario</label>
    </span>
    <small class="text-danger ms-5" *ngIf="error('salario')"
      >{{ salarioMsg }}
    </small>

    <span class="row ms-5 me-5 mt-5 p-float-label">
      <input
        formControlName="telefono"
        class="p-inputtext-lg"
        type="tel"
        pInputText
      />
      <label for="float-input">Telefono</label>
    </span>
    <small class="text-danger ms-5" *ngIf="error('telefono')"
      >{{ telefonoMsg }}
    </small>

    <div class="row ms-5 me-5 mt-5">
      <div class="col-12">
        <span class="form-text">Imagen</span>
        <div class="input-group">
          <input
            formControlName="image_user"
            class="form-control"
            name="image_user"
          />
          <app-upload
            (uploaded)="miFormulario.patchValue({ image_user: $event })"
          ></app-upload>
        </div>
      </div>
    </div>

    <div class="ms-5 me-5 mt-5">
      <p-button
        class="float-end"
        label="Guardar"
        type="submit"
        icon="pi pi-check"
        iconPos="right"
      ></p-button>
    </div>
  </form>
</ng-template>
