<p>erro-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      ir al login
    </a>
  </li>

  <li>
    <a routerLink="/auth/registro">
      ir al registro
    </a>
  </li>

  <li>
    <a routerLink="/heroes/listado">
      ir al listado heroes
    </a>
  </li>

  <li>
    <a routerLink="/heroes/agregar">
      ir al agregar heroe
    </a>
  </li>

  <li>
    <a routerLink="/heroes/editar/:id">
      ir al editar heroe
    </a>
  </li>

  <li>
    <a routerLink="/heroes/buscar">
      ir al heroe buscar
    </a>
  </li>

  <li>
    <a routerLink="/heroes/:id">
      ir al heroe
    </a>
  </li>
</ul>




